@keyframes progress-running {
    0% {
        transform: translate(-300vw);
    }
    100% {
        transform: translate(300vw);
    }
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 300vw;
    height: 5px;
    background-color: aquamarine;
    animation: progress-running linear 1.2s infinite;
}

a {
    text-decoration: none!important;
}

blockquote {
    border: none;
    position: relative;
}

blockquote::before {
    content: "“";
    font-size: 3em;
    color: gray;
    position: absolute;
    left: 0;
    top: 0;
}

blockquote::after {
    content: "”";
    font-size: 3em;
    color: gray;
    position: absolute;
    right: 0;
    bottom: 0;
}


/* display equation gaps */
.rendered_html * + p {
    margin-bottom: 1em;
}

/* inline literals */
span.docutils.literal {
    font-family: monospace;
    white-space: pre-wrap;
}

ul.auto-toc, ul.auto-toc ul {
    list-style-type: none;
}

.admonition {
    border-right: 2rem solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin: 2rem 0;
}

.admonition-title {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}

.footnote-reference {
    position: relative;
    top: -0.5rem;
    font-size: smaller;
}

.footnote {
    margin: 2rem 0;
    padding: 1em 0 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 3em 1fr;
    align-items: baseline;
}

.footnote::before {
    content: "";
    width: 10rem;
    border-top: 0.1rem solid black;
    position: absolute;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: inline!important;
}

.figure.align-left {
    float: left;
    margin-right: 2rem;
    max-width: 40%;
}

.figure.align-right {
    float: right;
    margin-left: 2rem;
    max-width: 40%;
}

/* pre.code, code {
    background-color: transparent;
} */

pre.code .ln {
    color: gray;
} /* line numbers */
/* basic highlighting: for a complete scheme, see */
/* http://docutils.sourceforge.net/sandbox/stylesheets/ */
pre.code .comment, code .comment {
    color: #408080;
}

pre.code .keyword, code .keyword {
    color: #008000; font-weight: bold;
}
pre.code .literal.string, code .literal.string {
    color: #BA2121;
}

pre.code .name.builtin, code .name.builtin {
    color: #008000;
}

pre.code .deleted, code .deleted {
    background-color: #DEB0A1;
}

pre.code .inserted, code .inserted {
    background-color: #A3D289;
}